body,

html 
{
    min-height: 100%;
}

html 
{
    min-height: 100%;
}

#div0babber
{
    width:2000px;
    height:30px;
    position:absolute;
    top:5px;
    left:28px;
}

#div0
{
    width:2000px;
    height:30px;
    position:absolute;
    top:5px;
    left:280px;
}

#div01
 {
    width:2000px;
    height:30px;
    position:absolute;
    top:5px;
    left:280px;
 }

#div1
 {
     width:500px;
     height:500px;
     position:absolute;
     top:200px;
     left:300px;
 }

#div2
{
    width:500px;
    height:500px;
    position:absolute;
    top:30px;
    left:0px;
}

#div3
{
    width:500px;
    height:500px;
    position:absolute;
    top:200px;
    left:700px;
}

#div4
{
    width:500px;
    height:500px;
    position:absolute;
    top:78px;
    left:0px;
}

#div5
{
    width:500px;
    height:500px;
    position:absolute;
    top:550px;
    left:300px;
}

#div6
{
    width:500px;
    height:500px;
    position:absolute;
    top:30px;
    left:0px;
}

#div7
{
    width:500px;
    height:500px;
    position:absolute;
    top:550px;
    left:700px;
}

#div8
{
    width:500px;
    height:500px;
    position:absolute;
    top:109px;
    left:0px;
}

#div9
{
    width:500px;
    height:500px;
    position:absolute;
    top:200px;
    left:1100px;
}







div#navcontainer
{
    position: relative;
    font: small-caps bold small/24px "Times New Roman", serif;
    letter-spacing: 1px;
    text-align: left;
}


/* all buttons */
ul#navlist li > a:link, ul#navlist li > a:visited, ul#navlist li * a:link, ul#navlist li * a:visited
{
    text-decoration: none;
    width: 150px;
}

#navlist li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#navlist li > a:link, ul#navlist li > a:visited
{
    background: #669933;
    border-bottom: 4px solid #800;
    border-top: 2px solid #ccc;
    color: #996633;
    display: block;
}

ul#navlist li > a:hover
{
    background: #f5f5f5;
    border-bottom: 2px solid #eee;
    border-top: 4px solid #fff;
    color: #000;
}


/* active states */
a:link[id=current], a:visited[id=current]
{
    background: #c30 !important;
    color: #000;
}


{
    background: #444;
    color: #fff;
}


a:hover[id=subcurrent] { background: #000; }



